* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

section {
  min-height: 100vh;
}

@font-face {
  font-family: PoppinsReg;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PoppinsThin;
  src: url(../assets/fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: PoppinsMed;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsItalic;
  src: url(../assets/fonts/Poppins-Italic.ttf);
}
@font-face {
  font-family: Smithen;
  src: url(../assets/fonts/Smithen\ Script.ttf);
}
@font-face {
  font-family: Yeseva;
  src: url(../assets/fonts/YesevaOne-Regular.ttf);
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  top: 0px;
  z-index: 1;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index: 1;
}

#modal {
  width: 100%;
  height: 100%;
  background-color: #313645;
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
}
#modal #modal-wrapper {
  min-width: 100%;
  padding: 0px 30px;
}
#modal #modal-wrapper #modal-content {
  position: relative;
  margin: 0 auto;
  max-height: 100%;
  max-width: 550px;
  background-color: #CFDBFF;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#modal #modal-wrapper #modal-content .fa-xmark {
  position: absolute;
  z-index: 2;
  right: -24px;
  bottom: 0;
  font-size: 1.9em;
  cursor: pointer;
  color: #7987AB;
  transition: all ease-in-out 0.2s;
}
#modal #modal-wrapper #modal-content .fa-xmark:hover {
  color: #CFDBFF;
  transition: all ease-in-out 0.2s;
}
#modal #modal-wrapper #modal-content .slider {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
}
#modal #modal-wrapper #modal-content .slider img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  max-height: 26em;
}
#modal #modal-wrapper #modal-content .slider .slick-prev {
  left: 0;
  z-index: 1;
  background-image: url(../assets/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}
#modal #modal-wrapper #modal-content .slider .slick-next {
  right: 0;
  background-image: url(../assets/svg/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}
#modal #modal-wrapper #modal-content .slider button {
  position: absolute;
  font-size: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #4C546B;
  border: none;
  height: 55px;
  width: 40px;
}
#modal #modal-wrapper #modal-content .modal-bottom {
  position: relative;
  padding: 8px 4px 0px;
  min-height: 100%;
  background-color: #7987AB;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  border-top: 2px solid #434A5E;
}
#modal #modal-wrapper #modal-content .modal-bottom h2 {
  font-family: PoppinsReg;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 1.185em;
  padding-left: 10px;
  margin-top: 1px;
}
#modal #modal-wrapper #modal-content .modal-bottom h4 {
  font-family: PoppinsReg;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #CFDBFF;
  font-size: 0.88em;
  margin-top: -4px;
  margin-bottom: 0px;
  padding-left: 10px;
}
#modal #modal-wrapper #modal-content .modal-bottom p {
  display: block;
  overflow-y: auto;
  font-family: PoppinsReg;
  font-size: 0.765em;
  line-height: 1.65em;
  padding: 5px 10px 16px;
  max-height: 130px;
}
#modal #modal-wrapper #modal-content .modal-bottom button {
  width: 30px;
  height: 30px;
  font-family: PoppinsReg;
  text-transform: uppercase;
  background-color: #7987AB;
  border: 2px solid #7987AB;
  color: #CFDBFF;
  letter-spacing: 0.5px;
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
#modal #modal-wrapper #modal-content .modal-bottom button:hover {
  background-color: #CFDBFF;
  border: 2px solid #7987AB;
  color: #7987AB;
  transition: all 0.3s;
}

.site-container {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.site-container #nav {
  height: 100vh;
  padding: 10px;
  background-color: #7987AB;
  margin: 0 auto;
  /* Animate the background shapes */
}
.site-container #nav svg {
  width: 100%;
  padding: 70px 50px 0px;
  fill: #CFDBFF;
}
.site-container #nav .filled-heading {
  text-transform: lowercase;
  font-family: Smithen;
  font-weight: 100;
  font-size: 5.5em;
}
.site-container #nav .filled-heading .intro {
  text-transform: capitalize;
  font-size: 0.085em;
  font-weight: 280;
  font-family: PoppinsReg;
  letter-spacing: 0.2px;
}
.site-container #nav #background path {
  animation: pulse 2.5s ease-in;
  /* Necessary to keep the SVG objects in place while scaling */
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
@keyframes pulse {
  /* Rotating it along with the scale makes it a little bit more fancy */
  0%, 0% {
    transform: scale(0) rotate(33deg);
  }
  25%, 55% {
    transform: scale(1) rotate(0deg);
  }
}
.site-container #nav-bar {
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: #313645;
  border-bottom: 0px solid #50C4DE;
  position: fixed;
  width: 100%;
  z-index: 8;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.18);
}
.site-container #nav-bar a {
  font-size: 14px;
  color: #CFDBFF;
  text-transform: uppercase;
  cursor: pointer;
  font-family: PoppinsLight;
  letter-spacing: 1.4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 25px;
  height: 100%;
}
.site-container #nav-bar a:hover {
  background-color: #7e87a3;
  font-weight: 900;
}
.site-container #nav-bar .active-link {
  background-color: #a8b1c8;
}
.site-container #nav-bar .links-toggle {
  top: 0;
}
.site-container #app {
  padding: 0px;
  transition: scrollbar-color 0.3s ease-out;
}
.site-container h1 {
  font-family: Yeseva;
  font-size: 24px;
  color: #434A5E;
  letter-spacing: 1px;
  font-weight: 100;
}
.site-container h2 {
  font-family: Poppins;
  font-size: 18px;
  color: #7987AB;
  letter-spacing: 0.8px;
  margin: 0px;
}
.site-container hr {
  border: 0.5px solid #282828;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  #modal #modal-wrapper #modal-content .fa-xmark {
    right: -20px;
    bottom: -18px;
  }
}
@media screen and (max-width: 390px) {
  #modal {
    min-width: 300px;
  }
  #modal #modal-wrapper {
    padding: 0px 10px;
  }
  #modal #modal-wrapper #modal-content .fa-xmark {
    top: -30px;
    right: -5px;
    z-index: 5;
    font-size: 1.96em;
  }
  #modal #modal-wrapper #modal-content .fa-xmark:hover {
    transition: all ease-in-out 0.2s;
  }
}
@keyframes slidebg {
  to {
    background-position: 80vw;
  }
}
#about-page {
  padding-top: 8vh;
  background-color: #4C546B;
}
#about-page .section-row {
  display: flex;
  justify-content: space-around;
}
#about-page .section-row .text-row {
  font-family: PoppinsReg;
  font-size: 13px;
  min-width: 50%;
  color: #000;
  margin: 0 auto;
  padding: 0px 50px 0px;
  line-height: 25px;
}
#about-page .section-row .row-two {
  border-left: 1px solid #A7B9EB;
}
#about-page .hello-wrapper {
  padding-left: 60px;
  padding-top: 30px;
}
#about-page .hello-wrapper h3 {
  font-family: PoppinsLight;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
  font-size: 15px;
}
#about-page .hello-wrapper .hello {
  font-family: Smithen;
  font-size: 57px;
  font-weight: 100;
  color: #A7B9EB;
  text-transform: lowercase;
  margin-right: 6px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#about-page .about-btns-wrapper {
  width: 29%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
#about-page .about-btns-wrapper button {
  height: 45px;
  width: 175px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: #A7B9EB;
  font-family: PoppinsReg;
  font-weight: 600px;
  letter-spacing: 0.4px;
  transition: ease-in-out 0.3s all;
  border: 2.5px solid #A7B9EB;
}
#about-page .about-btns-wrapper button:hover {
  background-color: #7987AB;
  color: #A7B9EB;
  border-color: #7987AB;
  transition: ease-in-out 0.3s all;
}
#about-page h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: #A7B9EB;
}
#about-page .skills-row {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: #7987AB;
  padding: 30px 80px;
}
#about-page .skills-row h3 {
  font-family: PoppinsReg;
  font-size: 18px;
  color: #313645;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#about-page .skills-row h3 i {
  color: #7987AB;
  font-size: 40px;
  padding-right: 10px;
  display: none;
}
#about-page .skills-row p {
  font-family: PoppinsLight;
  font-size: 14px;
}
#about-page .skills-row .skills-col1 {
  min-width: 50%;
  border-right: 2px solid #A7B9EB;
  padding: 18px;
  padding-right: 50px;
}
#about-page .skills-row .skills-col1 .dev-skills {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding: 8px;
}
#about-page .skills-row .skills-col1 .dev-skills label {
  font-family: PoppinsLight;
  font-size: 11px;
  color: #313645;
}
#about-page .skills-row .skills-col1 .dev-skills progress {
  width: 100%;
  -webkit-appearance: none;
}
#about-page .skills-row .skills-col1 .dev-skills progress::-webkit-progress-bar {
  background-color: #CFDBFF;
}
#about-page .skills-row .skills-col1 .dev-skills progress::-webkit-progress-value {
  background-color: #282828;
}
#about-page .skills-row .skills-col1 .dev-skills progress::-moz-progress-bar {
  background-color: #658FF7;
}
#about-page .skills-row .skills-col2 {
  min-width: 50%;
  padding: 12px 10px;
}
#about-page .skills-row .skills-col2 .container__progressbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 200px;
  width: 100%;
  max-height: 100%;
  padding: 70px;
}
#about-page .skills-row .skills-col2 .progressbar {
  position: relative;
  width: 118px;
  height: 118px;
  margin: 0.052em;
  transform: rotate(-90deg);
  fill: none;
}
#about-page .skills-row .skills-col2 .progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}
#about-page .skills-row .skills-col2 .bg {
  fill: none;
  stroke-width: 6px;
  stroke: #7987AB;
  transform: translate(2px, 2px);
}
#about-page .skills-row .skills-col2 .progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  stroke: #7987AB;
  stroke-linejoin: bevel;
  transform: translate(2px, 2px);
}
#about-page .skills-row .skills-col2 .shadow-html {
  filter: drop-shadow(0 0 1.2px #7987AB);
}
#about-page .skills-row .skills-col2 .shadow-css {
  filter: drop-shadow(0 0 1.2px #7987AB);
}
#about-page .skills-row .skills-col2 .shadow-scss {
  filter: drop-shadow(0 0 1.2px #7987AB);
}
#about-page .skills-row .skills-col2 .circle-html {
  animation: anim_circle-html 1s ease-in-out forwards;
}
#about-page .skills-row .skills-col2 .circle-css {
  animation: anim_circle-css 1s ease-in-out forwards;
}
#about-page .skills-row .skills-col2 .circle-scss {
  animation: anim_circle-scss 1s ease-in-out forwards;
}
#about-page .skills-row .skills-col2 .progressbar__text {
  position: absolute;
  top: 53%;
  left: 53%;
  padding: 0.25em 0.5em;
  color: #434A5E;
  font-size: 14px;
  font-family: PoppinsLight;
  border-radius: 0em;
  transform: translate(-50%, -50%) rotate(90deg);
}
@keyframes anim_circle-html {
  to {
    stroke-dashoffset: 25.12;
  }
}
@keyframes anim_circle-css {
  to {
    stroke-dashoffset: 62.8;
  }
}
@keyframes anim_circle-scss {
  to {
    stroke-dashoffset: 47.1;
  }
}

@media screen and (max-width: 768px) {
  .about-section-row .about-col1 {
    max-width: 50%;
    padding-right: 10px;
    padding-left: 0px;
  }
  .about-section-row .about-col1 p {
    width: 100%;
    font-size: 12px;
  }
  .about-section-row .about-col2 {
    padding-right: 0px;
  }
  .about-section-row .about-col2 .about-col2-wrapper {
    flex-direction: column;
  }
  .about-section-row .about-col2 .about-col2-wrapper .about-label {
    color: #434A5E;
    border-bottom: 0.5px solid #F7E959;
    font-size: 12px;
    margin-bottom: 4px;
  }
  .about-section-row .about-col2 .about-col2-wrapper .about-answer {
    max-height: 20px;
    max-width: 75%;
    background-color: rgba(192, 192, 192, 0.31);
    margin: 0px;
    font-size: 10px;
    text-align: right;
    margin-bottom: 2px;
    margin-left: 8px;
    color: #434A5E;
    font-family: PoppinsItalic;
    padding-right: 5px;
  }
  .skills-row {
    padding-bottom: 40px;
  }
  .skills-row h3 {
    font-size: 12px;
  }
  .skills-row h3 i {
    font-size: 18px;
    padding-right: 8px;
  }
  .skills-row .skills-col1 .dev-skills {
    min-width: 95%;
  }
  .services-row h3 {
    font-family: PoppinsLight;
    font-size: 12.5px;
    color: #CFDBFF;
    letter-spacing: 1.5px;
  }
  .services-row p {
    font-size: 10.5px;
  }
  .services-row .services-wrapper .icon-wrapper {
    min-width: 40px;
  }
  .services-row .services-wrapper .icon-wrapper i {
    font-size: 18px;
    margin-top: 4px;
  }
  .services-row .button-wrapper {
    max-width: 160px;
    height: 40px;
  }
  .services-row .button-wrapper button {
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .about-section-row {
    flex-direction: column;
  }
  .about-section-row .about-col1 {
    min-width: 100%;
    padding: 18px;
    border-right: none;
  }
  .about-section-row .about-col2 {
    width: 300px;
    margin: 0 auto;
    padding: 16px;
  }
  .about-section-row .about-col2 .about-col2-wrapper .about-answer {
    background-color: rgba(192, 192, 192, 0.31);
    margin: 0px;
    font-size: 10px;
    text-align: right;
    margin-bottom: 2px;
    margin-left: 35px;
  }
}
.resume .resume-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}
.resume .resume-wrapper h3 {
  font-family: PoppinsLight;
  font-size: 18px;
  color: #CFDBFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.resume .resume-wrapper h3 i {
  color: #F7E959;
  font-size: 22px;
  padding-right: 10px;
}
.resume .resume-wrapper .experience-column {
  min-width: 50%;
  border-right: 1px solid rgba(44, 38, 38, 0.6117647059);
}
.resume .resume-wrapper .experience-column .experience-input {
  padding: 25px 16px 30px 0px;
}
.resume .resume-wrapper .experience-column .experience-input .timespan {
  font-family: PoppinsLight;
  border: 1px solid #f3f0f0;
  max-width: 130px;
  height: 30px;
  padding: 5px 15px;
  font-size: 12px;
  color: #f3f0f0;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}
.resume .resume-wrapper .experience-column .experience-input .active {
  color: #F7E959;
  border: 1px solid;
}
.resume .resume-wrapper .experience-column .experience-input .job-title {
  font-family: PoppinsReg;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #CFDBFF;
}
.resume .resume-wrapper .experience-column .experience-input .company {
  font-family: PoppinsReg;
  font-size: 11.5px;
  margin-top: -12px;
  margin-bottom: 10px;
  color: rgba(4, 3, 3, 0.9960784314);
}
.resume .resume-wrapper .experience-column .experience-input .description {
  font-family: PoppinsLight;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: rgba(4, 4, 4, 0.9490196078);
}
.resume .resume-wrapper .education-column {
  min-width: 50%;
  padding-left: 60px;
}
.resume .resume-wrapper .education-column .education-input {
  padding: 25px 6px 30px 0px;
}
.resume .resume-wrapper .education-column .timespan {
  font-family: PoppinsLight;
  border: 1px solid #f3f0f0;
  max-width: 130px;
  height: 30px;
  padding: 6px 15px;
  font-size: 11px;
  color: #f3f0f0;
  margin-bottom: 20px;
}
.resume .resume-wrapper .education-column .active {
  color: #F7E959;
  border: 1px solid #F7E959;
}
.resume .resume-wrapper .education-column .university {
  font-family: PoppinsReg;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #CFDBFF;
}
.resume .resume-wrapper .education-column .location {
  font-family: PoppinsReg;
  font-size: 11.5px;
  margin-top: -12px;
  margin-bottom: 10px;
  color: rgba(4, 3, 3, 0.9960784314);
}
.resume .resume-wrapper .education-column .degree-wrapper {
  display: flex;
  font-family: PoppinsMed;
  font-size: 12px;
  color: #CFDBFF;
}
.resume .resume-wrapper .education-column .degree-wrapper span {
  padding: 0px 10px;
  font-family: PoppinsLight;
}
.resume .resume-wrapper .education-column .degree-wrapper .area-of-study {
  font-family: PoppinsLight;
  color: rgba(4, 4, 4, 0.9490196078);
}
.resume .resume-wrapper .education-column .specialization {
  font-family: PoppinsReg;
  font-size: 12px;
  color: rgba(4, 3, 3, 0.9960784314);
  letter-spacing: 0.5px;
  margin-top: -8px;
}

@media screen and (max-width: 768px) {
  .resume .resume-wrapper {
    padding: 10px;
    flex-direction: column;
  }
  .resume .resume-wrapper h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .resume .resume-wrapper h3 i {
    display: none;
  }
  .resume .resume-wrapper .experience-column {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(44, 38, 38, 0.6117647059);
    border-right: none;
  }
  .resume .resume-wrapper .experience-column .experience-input {
    padding-left: 15px;
    min-height: 250px;
    border-left: 2px solid rgba(0, 255, 204, 0.7254901961);
    background-color: rgba(0, 255, 204, 0.032);
    margin-bottom: 20px;
  }
  .resume .resume-wrapper .experience-column .experience-input .timespan {
    max-width: 100px;
    height: 24px;
    padding: 3px 8px;
    font-size: 10px;
  }
  .resume .resume-wrapper .experience-column .experience-input .job-title {
    font-family: PoppinsReg;
    letter-spacing: 1.5px;
    color: #CFDBFF;
  }
  .resume .resume-wrapper .experience-column .experience-input .company {
    font-family: PoppinsReg;
    margin-top: -12px;
    margin-bottom: 30px;
    color: rgba(4, 3, 3, 0.9960784314);
    line-height: 11px;
  }
  .resume .resume-wrapper .experience-column .experience-input .description {
    font-family: PoppinsLight;
    letter-spacing: 0.5px;
    color: rgba(4, 4, 4, 0.9490196078);
  }
  .resume .resume-wrapper .education-column {
    padding-left: 0px;
    padding-top: 30px;
    min-width: 90%;
    margin: 0 auto;
    padding-left: 10px;
  }
  .resume .resume-wrapper .education-column .education-input {
    padding-left: 15px;
    border-left: 2px solid rgba(0, 255, 204, 0.724);
    background-color: rgba(0, 255, 204, 0.032);
    margin-bottom: 20px;
    min-height: 250px;
  }
  .resume .resume-wrapper .education-column .education-input .timespan {
    max-width: 100px;
    height: 24px;
    padding: 3px 8px;
    font-size: 10px;
  }
  .resume .resume-wrapper .education-column .education-input .university {
    font-family: PoppinsReg;
    color: #CFDBFF;
  }
  .resume .resume-wrapper .education-column .education-input .location {
    font-family: PoppinsReg;
    margin-top: -12px;
    margin-bottom: 30px;
    color: rgba(4, 3, 3, 0.9960784314);
    line-height: 11px;
  }
  .resume .resume-wrapper .education-column .education-input .degree-wrapper {
    display: flex;
    font-family: PoppinsMed;
    color: #CFDBFF;
  }
  .resume .resume-wrapper .education-column .education-input .degree-wrapper span {
    padding: 0px 2px;
    font-family: PoppinsLight;
  }
  .resume .resume-wrapper .education-column .education-input .degree-wrapper .area-of-study {
    font-family: PoppinsLight;
    color: rgba(4, 4, 4, 0.9490196078);
  }
  .resume .resume-wrapper .education-column .education-input .specialization {
    margin-top: -6px;
    line-height: 18px;
  }
}
.work {
  position: relative;
}
.work .work-links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0vh auto;
  width: 50%;
}
.work .work-links-wrapper .work-link {
  width: 100%;
  background-color: #e6f7fa;
  color: #313645;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-family: PoppinsMed;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}
.work .work-links-wrapper .active-work-link {
  background-color: #50C4DE;
  color: #CFDBFF;
}
.work .work-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #4C546B;
  padding-top: 8vh;
}
.work .work-wrapper .work-col .project-container {
  width: 100%;
  margin: 0 auto !important;
}
.work .work-wrapper .work-col .project-container .image-container {
  position: relative;
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .work-wrapper .work-col .project-container .image-container:hover {
  cursor: pointer;
}
.work .work-wrapper .work-col .project-container .image-container:hover .title-wrapper {
  opacity: 100%;
}
.work .work-wrapper .work-col .project-container .image-container:hover .title-wrapper .title,
.work .work-wrapper .work-col .project-container .image-container:hover .title-wrapper .subtitle,
.work .work-wrapper .work-col .project-container .image-container:hover .title-wrapper .work-btn-wrapper {
  display: block;
}
.work .work-wrapper .work-col .project-container .image-container img {
  width: 100%;
  filter: grayscale(100%);
}
.work .work-wrapper .work-col .project-container .title-wrapper {
  position: absolute;
  background-color: #4C546B;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0%;
  transition: 0.4s ease-in, 0.4s ease-out;
}
.work .work-wrapper .work-col .project-container .title-wrapper .title {
  margin: 0 auto;
  text-align: center;
  font-family: PoppinsMed;
  font-size: 1.3em;
  color: #CFDBFF;
  display: none;
}
.work .work-wrapper .work-col .project-container .title-wrapper .subtitle {
  font-family: PoppinsReg;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1em;
  display: none;
  color: #a8b1c8;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper {
  width: 35%;
  margin: 0 auto;
  display: none;
  padding: 20px 0px;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper .work-btn {
  color: #7987AB;
  width: 150px;
  height: 40px;
  font-family: PoppinsReg;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 0px solid #7987AB;
  letter-spacing: 0.5px;
  background-color: #7987AB;
  color: #CFDBFF;
  width: 100%;
  z-index: 9999;
  border: 2px solid #7987AB;
  cursor: pointer;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper .work-btn:hover {
  background-color: transparent;
  color: #8995b5;
  border-color: #8995b5;
}

@media screen and (max-width: 768px) {
  .work .work-links-wrapper {
    min-width: 90%;
    flex-direction: column;
    height: auto;
  }
  .work .work-links-wrapper .work-link {
    min-width: 100%;
  }
  .work .work-wrapper {
    flex-direction: column;
  }
  .work .work-wrapper .work-col {
    margin: 0 auto;
    min-width: 100%;
  }
  .work .work-wrapper .work-col .project-container {
    margin: 0px 0px 30px;
  }
  .work .work-wrapper .work-col .project-container .image-container {
    max-height: 320px;
    margin-top: 50px;
    align-items: end;
  }
  .work .work-wrapper .work-col .project-container .image-container:hover {
    cursor: pointer;
  }
  .work .work-wrapper .work-col .project-container .image-container .image-wrapper img {
    max-width: 100%;
    padding: 0px;
  }
  .work .work-wrapper .work-col .project-container .image-container .title-wrapper .title {
    display: block;
  }
  .work .work-wrapper .work-col .project-container .image-container .title-wrapper .subtitle {
    display: block;
  }
  .work .work-wrapper .work-col .project-container .image-container .title-wrapper .work-btn-wrapper {
    display: block;
  }
}
#contact-section {
  background-color: #434A5E;
  position: relative;
}
#contact-section .contact-wrapper {
  padding-top: 100px;
}
#contact-section .contact-wrapper .contact-form {
  width: 40%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
#contact-section .contact-wrapper .contact-form h1 {
  color: #CFDBFF;
  font-family: PoppinsReg;
  text-align: center;
}
#contact-section .contact-wrapper .contact-form p {
  text-align: center;
  color: #8995b5;
  font-family: PoppinsReg;
  letter-spacing: 0.4px;
  padding: 10px;
  font-size: 13px;
}
#contact-section .contact-wrapper .contact-form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-family: PoppinsLight;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 0px 0 3px;
  background-color: #313645;
  outline: none;
  color: #e0e4ec;
  border: none;
}
#contact-section .contact-wrapper .contact-form .no-outline:focus {
  outline: none;
}
#contact-section .contact-wrapper .contact-form input:focus,
#contact-section .contact-wrapper .contact-form input:active,
#contact-section .contact-wrapper .contact-form textarea:focus,
#contact-section .contact-wrapper .contact-form textarea:active {
  border-color: transparent;
  border-bottom: 2px solid #7987AB;
  background-color: #313645;
}
#contact-section .contact-wrapper .contact-form input[type=submit] {
  font-family: PoppinsReg !important;
  font-size: 13px !important;
  letter-spacing: 0.5px !important;
  float: right;
  margin: 8px;
  color: #CFDBFF;
  width: 150px;
  height: 40px;
  font-family: PoppinsReg;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 0px solid #CFDBFF;
  letter-spacing: 0.5px;
  background-color: #7987AB;
  cursor: pointer;
  border: 2px solid #7987AB;
}
#contact-section .contact-wrapper .contact-form input[type=submit]:hover {
  background-color: transparent;
  color: #7987AB;
}
#contact-section .contact-wrapper .contact-form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #A7B9EB;
  font-family: PoppinsThin;
}
#contact-section .contact-wrapper .contact-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #A7B9EB;
  opacity: 1;
  font-family: PoppinsThin;
}
#contact-section .contact-wrapper .contact-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #A7B9EB;
  opacity: 1;
  font-family: PoppinsThin;
}
#contact-section .contact-wrapper .contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #A7B9EB;
  font-family: PoppinsThin;
}
#contact-section .contact-wrapper .contact-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #A7B9EB;
  font-family: PoppinsThin;
}
#contact-section .contact-wrapper .contact-form ::placeholder {
  /* Most modern browsers support this now. */
  color: #A7B9EB;
  font-family: PoppinsThin;
}
#contact-section .contact-wrapper .contact-form textarea {
  outline: none;
  width: 100%;
  height: 140px;
  padding: 10px 10px;
  font-family: PoppinsLight;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 0px 0 0;
  background-color: #313645;
  border: none;
  resize: none;
  color: #e0e4ec;
}
#contact-section .blob {
  width: 570px;
  height: 570px;
  margin-left: 300px;
  position: absolute;
  transform: translate(-30%, -70%);
  background-image: linear-gradient(45deg, #7987AB 0%, #9372F7 100%);
  z-index: 5;
  animation: morpheus 50s linear infinite;
  opacity: 18%;
}
#contact-section .blob2 {
  width: 420px;
  height: 420px;
  right: 0;
  top: 500px;
  position: absolute;
  transform: translate(-65%, -70%);
  animation: morpheus 20s linear infinite;
  opacity: 3%;
  z-index: 1;
  background-image: url(../assets/images/dalmatian-print.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes morpheus {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  20% {
    border-radius: 60% 40% 40% 60%/60% 25% 75% 40%;
  }
  40% {
    border-radius: 70% 30% 65% 35%/80% 45% 55% 20%;
  }
  60% {
    border-radius: 30% 70% 70% 30%/20% 30% 70% 80%;
  }
  80% {
    border-radius: 40% 60% 40% 60%/70% 55% 45% 30%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}

@media screen and (max-width: 768px) {
  #contact-section .contact-wrapper .contact-form {
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
