* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #dde4ec;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

section {
  min-height: 100vh;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 0px;
  max-height: 20px;
}

::-webkit-scrollbar-track {
  background-color: #080808;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid transparent;
  background-color: #2feabe;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #10a380;
}

@font-face {
  font-family: PoppinsReg;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PoppinsMed;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsItalic;
  src: url(../assets/fonts/Poppins-Italic.ttf);
}
@font-face {
  font-family: Smithen;
  src: url(../assets/fonts/Smithen\ Script.ttf);
}
@font-face {
  font-family: Yeseva;
  src: url(../assets/fonts/YesevaOne-Regular.ttf);
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.site-container {
  max-width: 100vw;
  padding: 0px;
  margin: 0px;
}
.site-container nav {
  height: 90vh;
  padding: 10px;
  background-color: #f41177;
  box-shadow: rgba(0, 0, 0, 0.471) 0px 0px 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Animate the background shapes */
}
.site-container nav svg {
  width: 100%;
  padding: 20px;
}
.site-container nav .filled-heading {
  text-transform: lowercase;
  font-family: Smithen;
  font-weight: 100;
  font-size: 5.5em;
}
.site-container nav .filled-heading .intro {
  text-transform: capitalize;
  font-size: 0.085em;
  font-weight: 280;
  font-family: Poppins;
  letter-spacing: 0.2px;
}
.site-container nav #background path {
  animation: pulse 4s ease-in;
  /* Necessary to keep the SVG objects in place while scaling */
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
@keyframes pulse {
  /* Rotating it along with the scale makes it a little bit more fancy */
  0%, 0% {
    transform: scale(0) rotate(33deg);
  }
  25%, 55% {
    transform: scale(1) rotate(0deg);
  }
}
.site-container nav .bottom {
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
}
.site-container nav .bottom .fa-solid,
.site-container nav .bottom .fas {
  font-size: 50px;
  color: #f972af;
  opacity: 55%;
  cursor: pointer;
}
.site-container .links-wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1.5px solid black;
  padding-left: 25px;
}
.site-container .links-wrapper a {
  font-size: 15px;
  color: #080808;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-family: PoppinsLight;
  letter-spacing: 1.4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 15px 0px;
  height: 100%;
}
.site-container .links-wrapper a:hover {
  background-color: #74f1d4;
}
.site-container .links-wrapper .na {
  background-color: none;
}
.site-container .links-wrapper .active-link {
  background-color: #74f1d4;
}
.site-container .main-container {
  max-width: 100%;
  background-color: #080808;
}
.site-container .main-container .scroll-section {
  margin: 0 auto;
  max-height: 91vh;
  overflow-x: auto;
  padding: 0px 0px 10px;
  background-color: white;
  transition: scrollbar-color 0.3s ease-out;
}
.site-container .main-container h1 {
  font-family: Yeseva;
  font-size: 24px;
  color: #080808;
  letter-spacing: 1px;
  font-weight: 100;
}
.site-container .main-container h2 {
  font-family: Poppins;
  font-size: 18px;
  color: #909090;
  letter-spacing: 0.8px;
  margin: 0px;
}
.site-container .main-container hr {
  border: 0.5px solid rgba(44, 38, 38, 0.6117647059);
  margin-bottom: 12px;
}

@keyframes slidebg {
  to {
    background-position: 80vw;
  }
}
.page-header {
  background-color: #feecf4;
  height: 50px;
}
.page-header h2 {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-transform: uppercase;
}

span {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-weight: bolder;
  margin-top: 10vh;
  transform: translateX(-50%);
  color: white;
  background: url("../assets/images/scope.jpg");
  background-size: auto 255%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 60s ease-in-out infinite;
}
span:nth-child(2) {
  top: 50vh;
}
@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}

.top-portfolio-section {
  padding: 0px;
}
.top-portfolio-section .portfolio-row {
  min-height: 250px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.top-portfolio-section .portfolio-row .work-icons-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-portfolio-section .portfolio-row .work-icons-wrapper .icon-col {
  min-width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.top-portfolio-section .portfolio-row .work-icons-wrapper .icon-col .work-icon {
  min-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-portfolio-section .portfolio-row .work-icons-wrapper .icon-col .work-icon i {
  color: #2feabe;
  font-size: 60px;
}
.top-portfolio-section .portfolio-row .work-icons-wrapper .icon-col h4 {
  font-family: Yeseva;
  font-weight: 200;
  margin: 5px 0px 5px;
}
.top-portfolio-section .portfolio-row .work-icons-wrapper .icon-col p {
  font-family: PoppinsLight;
  font-size: 12px;
  text-align: center;
  line-height: 13px;
  display: none;
}

h1 {
  font-family: PoppinsLight;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1.3px;
}

hr {
  border: 0.5px solid rgba(44, 38, 38, 0.6117647059);
  margin-bottom: 12px;
}

.about-section-row {
  display: flex;
  justify-content: space-between;
  min-height: 25vh;
  background-color: #2feabe;
  padding: 0px 50px;
}
.about-section-row p {
  font-family: PoppinsLight;
  font-size: 14px;
  color: rgba(4, 4, 4, 0.9490196078);
  letter-spacing: 0.5px;
  line-height: 25px;
}
.about-section-row .about-col1 {
  min-width: 60%;
  border-right: 1px solid rgba(44, 38, 38, 0.6117647059);
  display: flex;
}
.about-section-row .about-col1 .emphasize {
  background-color: #f41177;
  letter-spacing: 0px;
}
.about-section-row .about-col1 .about-img-container {
  overflow: hidden;
  max-height: 100%;
  width: 60%;
}
.about-section-row .about-col1 .about-img-container img {
  width: 100%;
}
.about-section-row .about-col2 {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-section-row .about-col2 .about-col2-wrapper {
  display: flex;
  justify-content: space-between;
}
.about-section-row .about-col2 .about-col2-wrapper .about-label {
  font-family: PoppinsReg;
  background-color: #ffd026;
  color: #080808;
  padding: 0px 5px;
  max-height: 20px;
  min-width: 80px;
  margin-right: 20px;
}
.about-section-row .about-col2 .about-col2-wrapper .about-answer {
  white-space: nowrap;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#skills .skills-row {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: rgb(235, 233, 233);
  padding: 0px 30px;
}
#skills .skills-row h3 {
  font-family: PoppinsLight;
  font-size: 18px;
  color: #080808;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  width: 50%;
}
#skills .skills-row h3 i {
  color: #f41177;
  font-size: 40px;
  padding-right: 10px;
  display: none;
}
#skills .skills-row p {
  font-family: PoppinsLight;
  font-size: 14px;
  color: #080808;
}
#skills .skills-row .skills-col1 {
  min-width: 46%;
  border-right: 2px solid #fff;
  padding: 18px;
  padding-right: 50px;
}
#skills .skills-row .skills-col1 .dev-skills {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding: 8px;
}
#skills .skills-row .skills-col1 .dev-skills label {
  font-family: PoppinsReg;
  font-size: 14px;
  color: #080808;
}
#skills .skills-row .skills-col1 .dev-skills progress {
  width: 100%;
  -webkit-appearance: none;
}
#skills .skills-row .skills-col1 .dev-skills progress::-webkit-progress-bar {
  background-color: #fff;
}
#skills .skills-row .skills-col1 .dev-skills progress::-webkit-progress-value {
  background-color: #f41177;
}
#skills .skills-row .skills-col1 .dev-skills progress::-moz-progress-bar {
  background-color: #ffd026;
}
#skills .skills-row .skills-col2 {
  min-width: 50%;
  padding: 12px 10px;
}
#skills .skills-row .skills-col2 .container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 200px;
  width: 100%;
  max-height: 100%;
}
#skills .skills-row .skills-col2 .progressbar {
  position: relative;
  width: 118px;
  height: 118px;
  margin: 0.052em;
  transform: rotate(-90deg);
  fill: none;
}
#skills .skills-row .skills-col2 .progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}
#skills .skills-row .skills-col2 .bg {
  fill: none;
  stroke-width: 6px;
  stroke: #ffffff;
  transform: translate(2px, 2px);
}
#skills .skills-row .skills-col2 .progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  stroke: #fff;
  stroke-linejoin: bevel;
  transform: translate(2px, 2px);
}
#skills .skills-row .skills-col2 .shadow-html {
  filter: drop-shadow(0 0 1.2px #f41177);
}
#skills .skills-row .skills-col2 .shadow-css {
  filter: drop-shadow(0 0 1.2px #f41177);
}
#skills .skills-row .skills-col2 .shadow-scss {
  filter: drop-shadow(0 0 1.2px #f41177);
}
#skills .skills-row .skills-col2 .circle-html {
  animation: anim_circle-html 1s ease-in-out forwards;
}
#skills .skills-row .skills-col2 .circle-css {
  animation: anim_circle-css 1s ease-in-out forwards;
}
#skills .skills-row .skills-col2 .circle-scss {
  animation: anim_circle-scss 1s ease-in-out forwards;
}
#skills .skills-row .skills-col2 .progressbar__text {
  position: absolute;
  top: 53%;
  left: 53%;
  padding: 0.25em 0.5em;
  color: #080808;
  font-size: 14px;
  font-family: PoppinsLight;
  border-radius: 0em;
  transform: translate(-50%, -50%) rotate(90deg);
}
@keyframes anim_circle-html {
  to {
    stroke-dashoffset: 25.12;
  }
}
@keyframes anim_circle-css {
  to {
    stroke-dashoffset: 62.8;
  }
}
@keyframes anim_circle-scss {
  to {
    stroke-dashoffset: 47.1;
  }
}

@media screen and (max-width: 768px) {
  .about-section-row .about-col1 {
    max-width: 50%;
    padding-right: 10px;
    padding-left: 0px;
  }
  .about-section-row .about-col1 p {
    width: 100%;
    font-size: 12px;
  }
  .about-section-row .about-col2 {
    padding-right: 0px;
  }
  .about-section-row .about-col2 .about-col2-wrapper {
    flex-direction: column;
  }
  .about-section-row .about-col2 .about-col2-wrapper .about-label {
    color: #080808;
    border-bottom: 0.5px solid #ffd026;
    font-size: 12px;
    margin-bottom: 4px;
  }
  .about-section-row .about-col2 .about-col2-wrapper .about-answer {
    max-height: 20px;
    max-width: 75%;
    background-color: rgba(192, 192, 192, 0.31);
    margin: 0px;
    font-size: 10px;
    text-align: right;
    margin-bottom: 2px;
    margin-left: 8px;
    color: #080808;
    font-family: PoppinsItalic;
    padding-right: 5px;
  }
  .skills-row {
    padding-bottom: 40px;
  }
  .skills-row h3 {
    font-size: 12px;
  }
  .skills-row h3 i {
    font-size: 18px;
    padding-right: 8px;
  }
  .skills-row .skills-col1 .dev-skills {
    min-width: 95%;
  }
  .services-row h3 {
    font-family: PoppinsLight;
    font-size: 12.5px;
    color: #fff;
    letter-spacing: 1.5px;
  }
  .services-row p {
    font-size: 10.5px;
  }
  .services-row .services-wrapper .icon-wrapper {
    min-width: 40px;
  }
  .services-row .services-wrapper .icon-wrapper i {
    font-size: 18px;
    margin-top: 4px;
  }
  .services-row .button-wrapper {
    max-width: 160px;
    height: 40px;
  }
  .services-row .button-wrapper button {
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .about-section-row {
    flex-direction: column;
  }
  .about-section-row .about-col1 {
    min-width: 100%;
    padding: 18px;
    border-right: none;
  }
  .about-section-row .about-col2 {
    width: 300px;
    margin: 0 auto;
    padding: 16px;
  }
  .about-section-row .about-col2 .about-col2-wrapper .about-answer {
    background-color: rgba(192, 192, 192, 0.31);
    margin: 0px;
    font-size: 10px;
    text-align: right;
    margin-bottom: 2px;
    margin-left: 35px;
  }
}
.resume .resume-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}
.resume .resume-wrapper h3 {
  font-family: PoppinsLight;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.resume .resume-wrapper h3 i {
  color: #ffd026;
  font-size: 22px;
  padding-right: 10px;
}
.resume .resume-wrapper .experience-column {
  min-width: 50%;
  border-right: 1px solid rgba(44, 38, 38, 0.6117647059);
}
.resume .resume-wrapper .experience-column .experience-input {
  padding: 25px 16px 30px 0px;
}
.resume .resume-wrapper .experience-column .experience-input .timespan {
  font-family: PoppinsLight;
  border: 1px solid #f3f0f0;
  max-width: 130px;
  height: 30px;
  padding: 5px 15px;
  font-size: 12px;
  color: #f3f0f0;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}
.resume .resume-wrapper .experience-column .experience-input .active {
  color: #ffd026;
  border: 1px solid;
}
.resume .resume-wrapper .experience-column .experience-input .job-title {
  font-family: PoppinsReg;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #fff;
}
.resume .resume-wrapper .experience-column .experience-input .company {
  font-family: PoppinsReg;
  font-size: 11.5px;
  margin-top: -12px;
  margin-bottom: 10px;
  color: rgba(4, 3, 3, 0.9960784314);
}
.resume .resume-wrapper .experience-column .experience-input .description {
  font-family: PoppinsLight;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: rgba(4, 4, 4, 0.9490196078);
}
.resume .resume-wrapper .education-column {
  min-width: 50%;
  padding-left: 60px;
}
.resume .resume-wrapper .education-column .education-input {
  padding: 25px 6px 30px 0px;
}
.resume .resume-wrapper .education-column .timespan {
  font-family: PoppinsLight;
  border: 1px solid #f3f0f0;
  max-width: 130px;
  height: 30px;
  padding: 6px 15px;
  font-size: 11px;
  color: #f3f0f0;
  margin-bottom: 20px;
}
.resume .resume-wrapper .education-column .active {
  color: #ffd026;
  border: 1px solid #ffd026;
}
.resume .resume-wrapper .education-column .university {
  font-family: PoppinsReg;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #fff;
}
.resume .resume-wrapper .education-column .location {
  font-family: PoppinsReg;
  font-size: 11.5px;
  margin-top: -12px;
  margin-bottom: 10px;
  color: rgba(4, 3, 3, 0.9960784314);
}
.resume .resume-wrapper .education-column .degree-wrapper {
  display: flex;
  font-family: PoppinsMed;
  font-size: 12px;
  color: #fff;
}
.resume .resume-wrapper .education-column .degree-wrapper span {
  padding: 0px 10px;
  font-family: PoppinsLight;
}
.resume .resume-wrapper .education-column .degree-wrapper .area-of-study {
  font-family: PoppinsLight;
  color: rgba(4, 4, 4, 0.9490196078);
}
.resume .resume-wrapper .education-column .specialization {
  font-family: PoppinsReg;
  font-size: 12px;
  color: rgba(4, 3, 3, 0.9960784314);
  letter-spacing: 0.5px;
  margin-top: -8px;
}

@media screen and (max-width: 768px) {
  .resume .resume-wrapper {
    padding: 10px;
    flex-direction: column;
  }
  .resume .resume-wrapper h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .resume .resume-wrapper h3 i {
    display: none;
  }
  .resume .resume-wrapper .experience-column {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(44, 38, 38, 0.6117647059);
    border-right: none;
  }
  .resume .resume-wrapper .experience-column .experience-input {
    padding-left: 15px;
    min-height: 250px;
    border-left: 2px solid rgba(0, 255, 204, 0.7254901961);
    background-color: rgba(0, 255, 204, 0.032);
    margin-bottom: 20px;
  }
  .resume .resume-wrapper .experience-column .experience-input .timespan {
    max-width: 100px;
    height: 24px;
    padding: 3px 8px;
    font-size: 10px;
  }
  .resume .resume-wrapper .experience-column .experience-input .job-title {
    font-family: PoppinsReg;
    letter-spacing: 1.5px;
    color: #fff;
  }
  .resume .resume-wrapper .experience-column .experience-input .company {
    font-family: PoppinsReg;
    margin-top: -12px;
    margin-bottom: 30px;
    color: rgba(4, 3, 3, 0.9960784314);
    line-height: 11px;
  }
  .resume .resume-wrapper .experience-column .experience-input .description {
    font-family: PoppinsLight;
    letter-spacing: 0.5px;
    color: rgba(4, 4, 4, 0.9490196078);
  }
  .resume .resume-wrapper .education-column {
    padding-left: 0px;
    padding-top: 30px;
    min-width: 90%;
    margin: 0 auto;
    padding-left: 10px;
  }
  .resume .resume-wrapper .education-column .education-input {
    padding-left: 15px;
    border-left: 2px solid rgba(0, 255, 204, 0.724);
    background-color: rgba(0, 255, 204, 0.032);
    margin-bottom: 20px;
    min-height: 250px;
  }
  .resume .resume-wrapper .education-column .education-input .timespan {
    max-width: 100px;
    height: 24px;
    padding: 3px 8px;
    font-size: 10px;
  }
  .resume .resume-wrapper .education-column .education-input .university {
    font-family: PoppinsReg;
    color: #fff;
  }
  .resume .resume-wrapper .education-column .education-input .location {
    font-family: PoppinsReg;
    margin-top: -12px;
    margin-bottom: 30px;
    color: rgba(4, 3, 3, 0.9960784314);
    line-height: 11px;
  }
  .resume .resume-wrapper .education-column .education-input .degree-wrapper {
    display: flex;
    font-family: PoppinsMed;
    color: #fff;
  }
  .resume .resume-wrapper .education-column .education-input .degree-wrapper span {
    padding: 0px 2px;
    font-family: PoppinsLight;
  }
  .resume .resume-wrapper .education-column .education-input .degree-wrapper .area-of-study {
    font-family: PoppinsLight;
    color: rgba(4, 4, 4, 0.9490196078);
  }
  .resume .resume-wrapper .education-column .education-input .specialization {
    margin-top: -6px;
    line-height: 18px;
  }
}
.work .work-links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  padding: 60px 10px 60px;
  max-height: 50px;
}
.work .work-links-wrapper .work-link {
  width: 100%;
  color: #080808;
  padding: 5px;
  text-align: center;
  font-family: PoppinsMed;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}
.work .work-links-wrapper .active-work-link {
  background-color: #2feabe;
  color: white;
}
.work .work-wrapper {
  display: flex;
  justify-content: center;
  max-height: 40%;
}
.work .work-wrapper .work-col {
  max-width: 25%;
  padding: 0px;
}
.work .work-wrapper .work-col .project-container {
  border: 1px solid rgba(44, 38, 38, 0.6117647059);
  padding: 0px 0px;
  width: 100%;
}
.work .work-wrapper .work-col .project-container .project-entry .image-container {
  position: relative;
  width: 100%;
  max-height: 350px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .work-wrapper .work-col .project-container .project-entry .image-container:hover {
  cursor: pointer;
}
.work .work-wrapper .work-col .project-container .project-entry .image-container:hover .title-wrapper {
  opacity: 100%;
}
.work .work-wrapper .work-col .project-container .project-entry .image-container:hover .title-wrapper .title,
.work .work-wrapper .work-col .project-container .project-entry .image-container:hover .title-wrapper .subtitle,
.work .work-wrapper .work-col .project-container .project-entry .image-container:hover .title-wrapper .work-btn-wrapper {
  display: block;
}
.work .work-wrapper .work-col .project-container .project-entry .image-container .image-wrapper {
  min-width: 100%;
  height: 100%;
}
.work .work-wrapper .work-col .project-container .project-entry .image-container .image-wrapper img {
  max-width: 100%;
}
.work .work-wrapper .work-col .project-container .title-wrapper {
  position: absolute;
  background-color: #ffd026;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0%;
  transition: 0.4s ease-in, 0.4s ease-out;
}
.work .work-wrapper .work-col .project-container .title-wrapper .title {
  margin: 0 auto;
  text-align: center;
  font-family: PoppinsReg;
  font-size: 16px;
  color: #080808;
  display: none;
}
.work .work-wrapper .work-col .project-container .title-wrapper .subtitle {
  font-family: PoppinsMed;
  text-align: center;
  color: #080808;
  letter-spacing: 0.5px;
  font-size: 15px;
  display: none;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper {
  background-color: red;
  width: 48%;
  margin: 0 auto;
  display: none;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper .work-btn {
  color: #080808;
  width: 150px;
  height: 40px;
  font-family: PoppinsLight;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 0px solid #080808;
  width: 100%;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper .work-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe68c;
  z-index: -2;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper .work-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #f41177;
  transition: all 0.3s;
  z-index: -1;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper .work-btn:hover {
  cursor: pointer;
  color: #fff;
  border: #f41177;
}
.work .work-wrapper .work-col .project-container .title-wrapper .work-btn-wrapper .work-btn:hover:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .work .work-links-wrapper {
    min-width: 100%;
    flex-direction: column;
    height: auto;
  }
  .work .work-links-wrapper .work-link {
    min-width: 100%;
  }
  .work .work-wrapper {
    flex-direction: column;
  }
  .work .work-wrapper .work-col {
    margin: 0 auto;
    min-width: 100%;
  }
  .work .work-wrapper .work-col .project-container {
    margin: 0px 0px 30px;
  }
  .work .work-wrapper .work-col .project-container .project-entry .image-container .image-wrapper img {
    max-width: 100%;
    padding: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
