#about-page {
  padding-top: 8vh;
  background-color: $site-white;

  .section-title {
    h1 {
      font-family: Yeseva;
      font-size: 2em;
      margin: 0 auto;
      text-align: center;
      padding: 30px 0px;
    }
  }

  .skills-title {
    color: lighten($secondary-white, 5%);
  }

  .section-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;

    .text-row {
      font-family: PoppinsReg;
      font-size: 1em;
      max-width: 60%;
      color: #000;
      margin: 0 auto;
      line-height: 1.6em;
      letter-spacing: .3px;
      border-left: 3px solid $secondary-dark;
      padding-left: 20px;
    }
    .text-row-two {
      text-align: right;
      min-width: 60%;
      border-right: 3px solid $secondary-dark;
      padding-right: 20px;
    }

    .row-two {
      border-left: 1px solid $secondary-gray;
    }
  }

  .about-btns-wrapper {
    max-width: 28%;
    margin: 30px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;

    button {
      height: 45px;
      width: 175px;
      margin-top: 10px;
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent;
      color: $site-gray;
      font-family: PoppinsReg;
      font-weight: 600px;
      letter-spacing: 0.4px;
      transition: ease-in-out 0.3s all;
      border: 2px solid $site-gray;

      &:hover {
        background-color: $site-pink;
        color: darken($site-pink, 45%);
        font-family: PoppinsMed;
        border: 2.36px solid darken($site-pink, 25%);
        font-size: .9em;
        transition: ease-in-out 0.3s all;
      }
    }
  }

  .skills-title {
    background-color: $secondary-gray;
    text-align: center;
    border-bottom: 1px solid $site-pink;
  }

  .skills-row {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: $secondary-white;
    padding: 30px 100px 80px;

    h3 {
      font-family: PoppinsReg;
      font-size: 1.2em;
      padding: 40px 0px 30px;
      color: $site-dark;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.5px;
      width: 100%;
    }

    p {
      font-family: PoppinsLight;
      font-size: 14px;
    }

    .skills-col1 {
      min-width: 50%;
      border-right: 2px solid $site-dark;

      padding-right: 50px;


      .dev-skills {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
        padding: 8px;
 
        label {
          font-family: PoppinsLight;
          font-size: .8em;
          color: $site-white;
        
          position: absolute;
          background-color: $secondary-dark;
          padding: 4px 10px;
          min-width: 6%;
        }

        progress {
          width: 100%;
          -webkit-appearance: none;
             
        }

        progress#file {
          height: 28px;
          margin-bottom: 10px;
        
        }

        progress::-webkit-progress-bar {
          background-color: $site-white;
        }

        progress::-webkit-progress-value {
          background-color: $site-gray;
        }

        progress::-moz-progress-bar {}
      }
    }

    .skills-col2 {
      min-width: 50%;

      display: flex;

      flex-wrap: wrap;
      justify-content: center;

      font-family: PoppinsReg;

      .circle {
        position: relative;
        width: 140px;
        height: 140px;
        margin: 2rem;
        border-radius: 50%;
        background: $site-white;
        overflow: hidden;
      }

      .circle.per-85 {
        background-image: conic-gradient($site-gray 86%, $site-white 0);
      }

      .circle.per-90 {
        background-image: conic-gradient($site-gray 93%, $site-white 0);
      }

      .circle.per-75 {
        background-image: conic-gradient($site-gray 80%, $site-white 0);
      }

      .circle .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 115px;
        height: 115px;
        background: $secondary-white;
        border-radius: 50%;
        font-size: .8em;
        color: $site-dark;
      }
    }
  }

  .mobile-row {
    display: none;
  }
}

@keyframes anim {
  100% {
    stroke-dashoffset: 105;
  }
}

@media screen and (max-width: 768px) {
  #about-page {
    .mobile-row {
      display: block;
      padding: 35px 25px 35px;
      text-align: right;
      letter-spacing: 0.4px;
      font-family: PoppinsReg;

      a {
        text-decoration: none;
        color: $site-gray;
      }

    }

    .section-title {
      h1 {}
    }

    .section-row {
      .text-row {
        text-align: center;
        max-width: 100%;
        padding: 0px 10px;
      }
    }

    .about-btns-wrapper {
      width: 55%;
      padding-bottom: 50px;

      .contact-btn {
        display: none;
      }
    }

    .skills-row {
      flex-direction: column;
      padding: 0px 20px 80px;

      h3 {}

      .skills-col1 {
        border-right: none;
        border-bottom: 2px solid $site-dark;
        padding-bottom: 50px;
        padding-right: 0px;
        .dev-skills {
          label {
             min-width: 25%;
          }
        }
      }

      .skills-col2 {


        .circle {
          margin: 1.5rem;
        }
      }
    }
  }

}

@media screen and (max-width: 390px) {
  .about-section-row {
    flex-direction: column;
  }
}