 #contact-section {
    background-color: $secondary-dark;
    position: relative;

    .contact-wrapper {

       padding-top: 100px;

       .contact-form {

          width: 40%;
          margin: 0 auto;
          position: relative;
          z-index: 10;


          h1 {
              
            text-align: center;
               font-size: 40px;
             
            color: $secondary-white;
     
           
          }

          p {
             text-align: center;
             color: $secondary-white;
             font-family: PoppinsReg;
             letter-spacing: .4px;
             padding: 10px;
             font-size: 13px;
          }


          input {
             width: 100%;
             height: 50px;
             padding: 10px;
      
            font-family: PoppinsLight;
             font-size: 11px;
             letter-spacing: 1px;
             margin: 0px 0 3px;
             background-color:$secondary-gray;
             outline: none;
             color: $secondary-white;
           
             border: none;
          }

          .no-outline:focus {
             outline: none;
          }

          input:focus,
          input:active,
          textarea:focus,
          textarea:active,
          {
          border-color: transparent;
          border-bottom: 2px solid $site-pink;
          background-color:$secondary-gray;
       }

       input[type=submit] {


 
         font-size: 13px !important;
      
         float: right;
          margin: 8px;
            height: 45px;
               width: 175px;
               text-transform: uppercase;
               cursor: pointer;
               background-color: transparent;
               color: $secondary-white;
               font-family: PoppinsReg;
               font-weight: 600px;
               letter-spacing: .4px;
               transition: ease-in-out .3s all;
               border: 2.5px solid $secondary-white;
            
               &:hover {
                  background-color: $site-pink;
                  color: $site-white;
                  border-color: $site-pink;
                  transition: ease-in-out .3s all;
               }
       }


       ::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: $secondary-white;
         font-family: PoppinsThin;
       }

       :-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: $secondary-white;
          opacity: 1;
         font-family: PoppinsThin;
       }

       ::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: $secondary-white;
          opacity: 1;
         font-family: PoppinsThin;
       }

       :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $secondary-white;
      font-family: PoppinsThin;
       }

       ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $secondary-white;
      font-family: PoppinsThin;
       }

       ::placeholder {
          /* Most modern browsers support this now. */
          color: $secondary-white;
         font-family: PoppinsThin;
       }

       textarea {
          outline: none;
          width: 100%;
          height: 140px;
          padding: 10px 10px;
          font-family: PoppinsLight;
          font-size: 11px;
       
          letter-spacing: 1px;
          margin: 0px 0 0;
          background-color: $secondary-gray;
          border: none;
          resize: none;
         color: $secondary-white;
       }

    }

 }

 
 }

 @media screen and (max-width: 768px) {
    #contact-section {
       .contact-wrapper {

          .contact-form {
             width: 90%;
          }
       }
    }
 }