#modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  visibility: hidden;

  #modal-content {
    background-color: #fff;
    margin: 5vh auto;
   min-height: 80%;
    width: 45%;

    .slider {
      min-height: 75%;
      overflow: hidden;
      border-bottom: 2px solid $site-black;

      position: relative;

      img {
        
          max-height: 25em;
      }

      .slick-prev {
        left: 0;
        z-index: 1;
        background-image: url(../assets/svg/arrow-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .slick-next {
        right: 0;
        background-image: url(../assets/svg/arrow-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      button {
        padding: 25px;

        position: absolute;
        font-size: 0;
        bottom: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.151);
        border: none;
      }
    }

    .fa-circle-chevron-right {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 40px;
      cursor: pointer;
      padding: 10px;
      color: rgba(0, 0, 0, 0.212);
    }
    .fa-circle-chevron-left {
      position: absolute;
      left: 0;
      font-size: 40px;
      bottom: 0;
      cursor: pointer;
      padding: 10px;
      color: rgba(0, 0, 0, 0.212);
    }

    .modal-bottom {
       min-height: 25%;
      padding: 10px;
      position: relative;
      background-color: pink;
      h2 {
        font-family: PoppinsReg;
        letter-spacing: 1px;
        margin: 0px;
        font-size: 1.1em;
      }
      h4 {
        font-family: PoppinsLight;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgb(117, 117, 117);
        font-size: .9em;
         
      }
      p {
      
     
        background-color: green;
        font-family: PoppinsLight;
        font-size: .8em;
        
      }
      button {
        width: 150px;
        height: 40px;
        font-family: PoppinsLight;
        text-transform: uppercase;
        background-color: $site-pink;
        border: 2px solid $site-pink;
        color: $site-white;
    
        
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: $site-white;
          border: 2px solid $site-pink;
          color: $site-pink;
          font-weight: 900;
          transition: all 0.3s;
        }
      }
      .fa-xmark {
        position: absolute;
        right: 0;
        padding: 10px 20px;
        bottom: 0;
        font-size: 1.7em;
        cursor: pointer;
        color: #c0c0c0;
      }
    }
  }
}

.site-container {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  position: relative;

  #nav {
    height: 100vh;
    padding: 10px;
    background-color: #f41177;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
      width: 100%;
      padding: 20px;
    }

    .filled-heading {
      text-transform: lowercase;
      font-family: Smithen;
      font-weight: 100;
      font-size: 5.5em;

      .intro {
        text-transform: capitalize;
        font-size: 0.085em;
        font-weight: 280;
        font-family: Poppins;
        letter-spacing: 0.2px;
      }
    }

    /* Animate the background shapes */
    #background path {
      animation: pulse 2.5s ease-in;

      /* Necessary to keep the SVG objects in place while scaling */
      transform-origin: 50% 50%;
      transform-box: fill-box;
    }

    @keyframes pulse {
      /* Rotating it along with the scale makes it a little bit more fancy */
      0%,
      0% {
        transform: scale(0) rotate(33deg);
      }

      25%,
      55% {
        transform: scale(1) rotate(0deg);
      }
    }

    .bottom {
      padding-bottom: 0px;
      display: flex;
      justify-content: center;

      .fa-solid,
      .fas {
        font-size: 50px;
        color: lighten($site-pink, 20%);
        opacity: 55%;
        cursor: pointer;
      }
    }
  }

  #nav-bar {
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: $site-white;
    border-bottom: 2px solid black;
    position: fixed;

    width: 100%;
    z-index: 1;

    a {
      font-size: 16px;
      color: $site-black;
      text-transform: uppercase;

      cursor: pointer;
      font-family: PoppinsReg;
      letter-spacing: 1.4px;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0px 30px;
      height: 100%;

      &:hover {
        background-color: lighten($header-color, 15%);
      }
    }
    .na {
      background-color: none;
    }

    .active-link {
      background-color: lighten($header-color, 15%);
    }

    .links-toggle {
      top: 0;
    }
  }

  //  .main-container {
  //      max-width: 100%;
  //      background-color: $site-black;

  #app {
    // border-left: 170px solid  ;

    padding: 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    transition: scrollbar-color 0.3s ease-out;
  }

  h1 {
    font-family: Yeseva;

    font-size: 24px;
    color: $site-black;
    letter-spacing: 1px;

    font-weight: 100;
  }

  h2 {
    font-family: Poppins;

    font-size: 18px;
    color: $subheader;
    letter-spacing: 0.8px;
    margin: 0px;
  }

  hr {
    border: 0.5px solid $hr-color;
    margin-bottom: 12px;
  }
}
//  }

//  @media screen and (max-width: 768px) {
//      .site-container {
//          nav {
//              min-width: 95px;

//              .links-wrapper {
//                  max-width: 100%;

//                  a {
//                      font-size: 12px;
//                      letter-spacing: 0px;
//                  }

//                  .nav-logo {
//                      display: none;
//                  }

//                  .logo {
//                      position: absolute;
//                      display: flex;
//                      max-width: 75%;
//                      top: 10px;
//                      left: 5px;
//                  }
//              }
//          }

//          .scroll-section {
//              padding: 40px 20px;
//              margin-top: 0vh;
//              height: 100vh;

//          }
//      }

//  }

//  @media screen and (max-width: 390px) {
//      .site-container {
//          nav {
//              width: 0vw;

//              .links-wrapper {
//                  .logo {
//                      width: 60px;
//                  }

//                  a {}
//              }
//          }

//          .scroll-section {
//              padding: 40px 5px;
//          }
//      }

//  }

@keyframes slidebg {
  to {
    background-position: 80vw;
  }
}
