 @mixin site-button($btnBorderColor: $secondary-white, $btnBgColor: $site-dark, $btnHeight: 45px, $btnFontFam: PoppinsReg, $btnLetterSpacing: .5px, $btnFontColor: $secondary-white, $btnBorderWidth: 1px) {
     color: $btnFontColor;
     background-color: $btnBgColor;
     height: $btnHeight;
     font-family: $btnFontFam;
     text-transform: uppercase;
     transition: all 0.3s;
     position: relative;
     border: $btnBorderWidth solid $btnBorderColor;
     letter-spacing: $btnLetterSpacing;
     cursor: pointer;

     &:hover {
         background-color: $site-pink;
         color: $secondary-gray;
         font-family: PoppinsMed;
        border-color: $site-pink;
            transition: all 0.3s;
     }
 }

 //Site button animation
 @mixin site-button-sweep-anim($sweepColor: $site-pink,
     $btnBgColor: $neon,
     $fontColor: $site-white) {
     &:after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: lighten($btnBgColor, 20%);
         z-index: -2;

     }

     &:before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 0%;
         height: 100%;
         background-color: $sweepColor;
         transition: all 0.3s;
         z-index: -1;
     }

     &:hover {
         cursor: pointer;
         color: $fontColor;
         border: $sweepColor;

         &:before {
             width: 100%;
         }
     }
 }