 #modal {
     width: 100%;
     height: 100%;
     background-color: #121212dc;
     position: fixed;
     z-index: 9999;
     right: 0;
     left: 0;
     visibility: hidden;
     display: flex;
     align-items: center;

     #modal-wrapper {
         min-width: 100%;
         padding: 0px 45px;


         #modal-content {
             position: relative;
             margin: 0 auto;
             max-height: 100%;
             max-width: 550px;
             background-color: $site-white;
             box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

             .fa-xmark {
                 position: absolute;
                 z-index: 1;
                 right: -30px;
                 bottom: 0px;
                 font-size: 1.9em;
                 cursor: pointer;
                 color: $secondary-white;

                 &:hover {
                     color: darken($secondary-white, 25%);
                 }
             }

             .slider {
                 position: relative;

                 img {
                     max-height: 26em;
                 }

                 .slick-prev {
                     left: 0;
                     z-index: 1;
                     background-image: url(../assets/svg/arrow-left.svg);
                     background-repeat: no-repeat;
                     background-size: 10px;
                     background-position: center;
                 }

                 .slick-next {
                     right: 0;
                     background-image: url(../assets/svg/arrow-right.svg);
                     background-repeat: no-repeat;
                     background-size: 10px;
                     background-position: center;
                 }



                 button {
                     position: absolute;
                     font-size: 0;
                     bottom: 0;
                     cursor: pointer;
                     background-color: #1212123f;
                     border: none;
                     height: 55px;
                     width: 40px;
                 }
             }



             .modal-bottom {
                 position: relative;
                 padding: 6px 4px 0px;
                 min-height: 100%;
                 background-color: $site-white;
                 border-bottom-right-radius: 15px;
                 border-bottom-left-radius: 15px;
                 overflow: hidden;
                 border-top: 2px solid $site-dark;

                 .modal-bottom-top-row {
                     display: flex;
                     justify-content: space-between;


                     h2 {
                         display: block;
                         font-family: PoppinsReg;
                         letter-spacing: 1px;
                         margin: 0px;
                         font-size: 1.185em;
                         padding-left: 10px;
                         margin-top: 1px;
                     }

                     a {
                         text-decoration: none;

                         button {
                             height: 30px;
                             font-family: PoppinsMed;
                             text-transform: uppercase;
                             color: $site-white;
                             padding: 0px 8px;
                             font-size: .75em;
                             border: 2.5px solid darken($site-pink, 10%);
                             letter-spacing: .4px;
                             background-color: darken($site-pink, 10%);
                             cursor: pointer;

                             i {
                                 color: $site-white;
                                 margin-left: 5px;
                             }

                             &:hover {
                                 background-color: darken($site-pink, 20%);
                                 border: 2.3px solid darken($site-pink, 20%);
                                 color: $site-white;

                                 i {
                                     color: $site-white;
                                 }
                             }
                         }

                         .mobile {
                             display: none;
                         }
                     }
                 }

                 h4 {
                     font-family: PoppinsSemi;
                     text-transform: uppercase;
                     letter-spacing: 1px;
                     color: darken($secondary-white, 25%);
                     font-size: .9em;
                     margin-top: -4px;
                     margin-bottom: 8px;
                     padding-left: 10px;
                 }


                 p {
                     display: block;
                     overflow-y: auto;
                     font-family: PoppinsReg;
                     font-size: .88em;
                     line-height: 1.65em;
                     padding: 8px 10px 16px;
                     max-height: 145px;
                 }
             }
         }
     }
 }

 @media only screen and (max-height: 575.98px) and (orientation: landscape) {
     #modal {

         #modal-wrapper {

             #modal-content {
                 display: flex;
                 max-height: 100vh;
                 background-color: $site-dark;

                 .fa-xmark {
                     right: -26px;
                     bottom: -23px;
                 }

                 .slider {
                     max-width: 55%;
                     display: flex;
                     align-items: center;

                     img {}

                     button {
                         height: 100%;
                         background-color: #12121218;
                         width: 32px;



                     }
                 }

                 .modal-bottom {
                     border-top: none;
                     border-left: 2px solid $site-dark;
                     border-bottom-right-radius: 0px;
                     border-bottom-left-radius: 0px;

                     .modal-bottom-top-row {
                         h2 {
                             line-height: 19px;
                             padding-left: 5px;
                         }

                         a {
                             button {
                                 display: none;

                             }
                         }

                         .mobile {
                             padding: 0px 3px;
                             height: 25px;

                         }

                     }

                     h4 {
                         line-height: 15px;
                         margin-top: 5px;
                         padding-left: 5px;
                         margin-bottom: 15px;
                     }

                     p {


                         line-height: 1.65em;
                         padding: 0px 5px 16px;

                     }
                 }
             }
         }
     }


 }

 @media screen and (max-width: 768px) {
     #modal {
         #modal-wrapper {
             #modal-content {
                 .fa-xmark {}

                 .modal-bottom {
                
                     h4 {
                         margin: 8px 0px 2px;
                         line-height: 1em;
                        padding-left: 0px;
                     }

                     p {
                            padding: 8px 0px 16px;
                     }

                     .modal-bottom-top-row {
                         justify-content: start;

                         h2 {
                             line-height: 1em;
                             padding-left: 0px;
                         }

                         a {
                             button {
                                 display: none;
                                 margin-left: 6px;
                                 background-color: $site-white;
                                 border: 0px solid $site-gray;

                                 i {
                                     color: $site-gray;
                                     font-size: 1.26em;
                                     margin-top: 3px;
                                 }
                             }

                             .mobile {
                                 display: flex;
                                 height: auto;
                                 text-align: center;
                                 color: darken($site-pink, 12%);
                                 font-size: .84em;
                                 white-space: nowrap;
                                
                                 i {
                                     color: darken($site-pink, 10%);
                                 }

                                 &:hover {
                                     background-color: none !important;
                                     border: none;
                                     color: $site-white;

                                     i {
                                         color: $site-white;
                                     }
                                 }
                             }
                         }
                     }

                 }
             }
         }
     }
 }

 @media screen and (max-width: 390px) {
     #modal {
         min-width: 300px;

         #modal-wrapper {
             padding: 0px 10px;

             #modal-content {

                 .fa-xmark {
                     bottom: -35px;
                     right: 5px;
                     z-index: 5;
                     font-size: 1.96em;
                 }
             }
         }
     }
 }