.resume {

    .resume-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 18px;


        h3 {
            font-family: PoppinsLight;
            font-size: 18px;
            color: $site-white;
            letter-spacing: 1.5px;
            text-transform: uppercase;


            i {
                color: $neon;
                font-size: 22px;
                padding-right: 10px;
            }
        }

        .experience-column {
            min-width: 50%;
            border-right: 1px solid $hr-color;


            .experience-input {
                padding: 25px 16px 30px 0px;

                .timespan {
                    font-family: PoppinsLight;
                    border: 1px solid $disable;
                    max-width: 130px;
                    height: 24px;
                    padding: 3px 15px;
                    font-size: 11px;
                    color: $disable;
                    margin-bottom: 20px;
                    display: flex;
                    text-align: center;
                }

                .active {
                    color: $neon;
                    border: 1px solid;
                }

                .job-title {
                    font-family: PoppinsReg;
                    font-size: 13px;
                    letter-spacing: 1.5px;
                    color: $site-white;
                }

                .company {
                    font-family: PoppinsReg;
                    font-size: 10.5px;
                    margin-top: -12px;
                    margin-bottom: 10px;
                    color: $subheading;

                }

                .description {
                    font-family: PoppinsLight;
                    letter-spacing: .5px;
                    font-size: 12px;
                    color: $content-text;
                }
            }
        }

        .education-column {
            min-width: 50%;
            padding-left: 30px;


            .education-input {
                padding: 25px 6px 30px 0px;
            }

            .timespan {
                font-family: PoppinsLight;
                border: 1px solid $disable;
                max-width: 130px;
                height: 24px;
                padding: 3px 15px;
                font-size: 10px;
                color: $disable;
                margin-bottom: 20px;

            }

            .active {
                color: $neon;
                border: 1px solid $neon;
            }

            .university {
                font-family: PoppinsReg;
                font-size: 13px;
                letter-spacing: 1.5px;
                color: $site-white;
            }

            .location {
                font-family: PoppinsReg;
                font-size: 10.5px;
                margin-top: -12px;
                margin-bottom: 10px;
                color: $subheading;
            }

            .degree-wrapper {
                display: flex;
                font-family: PoppinsMed;
                font-size: 12px;
                color: $site-white;

                span {
                    padding: 0px 10px;
                    font-family: PoppinsLight;
                }

                .area-of-study {
                    font-family: PoppinsLight;
                    color: $content-text;

                }
            }

            .specialization {
                font-family: PoppinsReg;
                font-size: 11px;
                color: $subheading;
                letter-spacing: .5px;
                margin-top: -8px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .resume {
        .resume-wrapper {
            padding: 10px;
            flex-direction: column;

            h3 {
                text-align: center;

                font-size: 18px;
                margin-bottom: 25px;

                i {

                    display: none;
                }
            }

            .experience-column {
                max-width: 90%;
                margin: 0 auto;
                padding-bottom: 40px;
                border-bottom: 1px solid $hr-color;
                border-right: none;

                .experience-input {
                    padding-left: 15px;
                    min-height: 250px;
                    border-left: 2px solid #00ffccb9;
                    background-color: rgba(0, 255, 204, 0.032);
                    margin-bottom: 20px;

                    .timespan {

                        max-width: 100px;
                        height: 24px;
                        padding: 3px 8px;
                        font-size: 10px;
                    }

                    .job-title {
                        font-family: PoppinsReg;

                        letter-spacing: 1.5px;
                        color: $site-white;
                    }

                    .company {
                        font-family: PoppinsReg;

                        margin-top: -12px;
                        margin-bottom: 30px;
                        color: $subheading;
                        line-height: 11px;

                    }

                    .description {
                        font-family: PoppinsLight;
                        letter-spacing: .5px;

                        color: $content-text;
                    }

                }
            }

            .education-column {
                padding-left: 0px;
                padding-top: 30px;
                min-width: 90%;
                margin: 0 auto;
                padding-left: 10px;

                .education-input {
                    padding-left: 15px;
                    border-left: 2px solid rgba(0, 255, 204, 0.724);
                    background-color: rgba(0, 255, 204, 0.032);
                    margin-bottom: 20px;
                    min-height: 250px;

                    .timespan {
                        max-width: 100px;
                        height: 24px;
                        padding: 3px 8px;
                        font-size: 10px;
                    }

                    .university {
                        font-family: PoppinsReg;

                        color: $site-white;
                    }

                    .location {
                        font-family: PoppinsReg;

                        margin-top: -12px;
                        margin-bottom: 30px;
                        color: $subheading;
                        line-height: 11px;

                    }

                    .degree-wrapper {
                        display: flex;
                        font-family: PoppinsMed;

                        color: $site-white;

                        span {
                            padding: 0px 2px;
                            font-family: PoppinsLight;
                        }

                        .area-of-study {
                            font-family: PoppinsLight;
                            color: $content-text;

                        }
                    }

                    .specialization {
                        margin-top: -6px;
                        line-height: 18px;
                    }

                }
            }
        }
    }
}