  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html,
  body {
      height: 100%;
  }

  body {
   background-color: #dde4ec;
      }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin-bottom: 16px
  }

  section {
    min-height: 100vh;
 
    overflow-x: auto;
  }
 
  //Scroll bar 

   ::-webkit-scrollbar {
      width: 0px;
      max-height: 20px;

      
  }

   ::-webkit-scrollbar-track {
    background-color: $site-black;
  }

   ::-webkit-scrollbar-thumb {
      border-radius: 20px;
      border: 6px solid transparent;
background-color: $header-color;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: darken($header-color, 20%);
  }

  //Fonts
  
  @font-face {
      font-family: PoppinsReg;
      src: url(../assets/fonts/Poppins-Regular.ttf)
  }

  @font-face {
      font-family: PoppinsLight;
      src: url(../assets/fonts/Poppins-Light.ttf)
  }

  @font-face {
      font-family: PoppinsMed;
      src: url(../assets/fonts/Poppins-Medium.ttf)
  }

  @font-face {
      font-family: PoppinsItalic;
      src: url(../assets/fonts/Poppins-Italic.ttf)
  }
  @font-face {
      font-family: Smithen;
      src: url(../assets/fonts/Smithen\ Script.ttf)
  }
  @font-face {
      font-family: Yeseva;
      src: url(../assets/fonts/YesevaOne-Regular.ttf)
  }


//Key frames
@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

@keyframes delay {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}