// $neon: #eafc20d7;
$neon: #ffd026;
 
$site-dark: #222137;
$secondary-dark: #12121a;
$site-gray: #f7f7f7;
$site-white: #fff;
$site-black: #080808;
$subheader: #909090;
$subsection: #ebe9e9;
$content-text: #040404f2;
$hr-color: #2c26269c;
$subheading: #040303fe;
$disable: #f3f0f0;

$header-color: #2feabe;
$site-pink:  #f41177;
 

$color-html: hsl(15, 100%, 60%);
$color-css: hsl(200, 100%, 60%);
$color-scss: hsl(300, 100%, 60%);


$porcent-html: 92;
$porcent-css: 80;
$porcent-scss: 85;


@function strokeDashoffset($num) {
    @return 314 - (314 * $num) / 100;
}