// $neon: #F7E84D;
$neon: #F7E959;
$site-dark: #434A5E;
$secondary-dark: #313645;
$site-gray: #7987AB;
$site-white: #CFDBFF;
$secondary-white: #A7B9EB;
$site-black: #4C546B;
$subheader: #4C546B;
$subsection: #ebe9e9;
$content-text: #040404f2;
$hr-color: #2c26269c;
$subheading: #040303fe;
$disable: #f3f0f0;


$secondary-gray: #282828;

$header-color: #50C4DE;
$site-pink:  #7987AB;
$site-blue:  #658FF7;
$site-purple: #9372F7;
$site-red: #F7347A;
 $deep-red: #AB2454;
 
$site-green:  #B4F74D;
$site-aqua: #59D9F7;
$site-muted-aqua: #50C4DE;
$purple: #835BFC;
$porcent-html: 92;
$porcent-css: 80;
$porcent-scss: 85;


@function strokeDashoffset($num) {
    @return 314 - (314 * $num) / 100;
}