$neon: #eafc20d7;
$orange: #FB9F54;
$site-green: #8a9b4a;
$site-white: #ffffffa5;
$site-black: #000;
$link-color: #ffffffa3;
$content-text: #ffffff7e;
$hr-color: #ffffff0e;
$subheading: #e0e0e056;
$disable: #ffffff5e;
$site-gray: #b1c0c0;


 