.work {
  position: relative;



  .work-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: $secondary-dark;
    padding-top: 8vh;
    overflow: hidden;

    .work-col {
      min-width: 35%;

      .project-container {
        width: 100%;
        margin: 0 auto !important;

        .image-container {
          position: relative;
          width: 100%;
          max-height: 500px;

          margin: 0 auto;
          overflow: hidden;
          transition: all 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;


          &:hover {
            cursor: pointer;

            .title-wrapper {
              opacity: 100%;

              .title,
              .subtitle,
              .work-btn-wrapper {
                display: block;
              }
            }
          }

          img {
            width: 100%;

            filter: grayscale(100%);

            &:hover {
              filter: grayscale(10%);
            }
          }
        }

        .title-wrapper {
          position: absolute;
          background-color: rgba(255, 255, 255, 0.938);
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          opacity: 0%;
          transition: 0.4s ease-in, 0.4s ease-out;

          .title {
            margin: 0 auto;
            text-align: center;
            font-family: PoppinsReg;
            font-size: 1.3em;
            color: $site-dark;
            display: none;
            letter-spacing: .5px;
          }

          .subtitle {
            font-family: PoppinsSemi;
            text-align: center;
            letter-spacing: 0.5px;
            font-size: 1em;
            display: none;
            color: darken($secondary-white, 25%);
          }

          .work-btn-wrapper {
            width: 35%;
            margin: 0 auto;
            display: none;
            padding: 0px 0px;

            .work-btn {
              min-width: 100%;
              font-size: .8em;
              padding: 0px 5px;
              white-space: nowrap;
              @include site-button($btnBorderColor: $site-gray, $btnBgColor: transparent, $btnFontColor: $site-gray, $btnBorderWidth: 2px);

              &:hover {
                color: darken($site-pink, 45%);
                border: 2px solid darken($site-pink, 25%);
                font-size: .84em;

              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .work {

    .work-links-wrapper {
      min-width: 90%;
      flex-direction: column;
      height: auto;

      .work-link {
        min-width: 100%;
      }
    }

    .work-wrapper {
      flex-direction: column;
      background-color: $secondary-white;

      .work-col {
        margin: 0 auto;
        min-width: 100%;

        .project-container {
          margin: 0px 0px 30px;


          .image-container {
            max-height: 320px;
            align-items: end;
            margin-top: 5px;

            &:hover {
              cursor: pointer;

              .title-wrapper {
                opacity: 100%;

                .title,
                .subtitle,
                .work-btn-wrapper {}
              }
            }

            .image-wrapper {
              img {
                max-width: 100%;
                padding: 0px;
              }
            }


            .title-wrapper {
              background-color: rgba(12, 12, 12, 0.85);
              opacity: 100%;



              .title {
                color: $site-white;
                display: block;
              }

              .subtitle {
                color: $secondary-white;
                display: block;

              }

              .work-btn-wrapper {
                display: block;

                .work-btn {
                  @include site-button($btnBorderColor: $secondary-white, $btnBgColor: $site-dark, $btnFontColor: $secondary-white);

                  &:hover {
                    background-color: $secondary-white;
                    border: 1px solid $secondary-white;
                    color: $site-dark;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}