.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 7vh;
  background-color: $secondary-dark;
 
  .page-header {
    padding: 10px 50px 5px;
    //  background-color: $neon;
    // background-color: lighten($header-color, 36%);
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
    background-color: lighten($header-color, 40%);
    h2 {
      display: flex;
      height: 100%;
      align-items: center;
      
      font-family: Smithen;
      font-size: 3em;
      max-width: 100%;
        letter-spacing: 5px;
      color: $site-black;
      
    }
  }
 
  
  .work-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 0vh auto;
    width: 50%;
    

    //  max-height: 50px;

    .work-link {
      width: 100%;

      color: $site-gray;
      padding: 5px;
      text-align: center;
font-size: 13px;
      font-family: PoppinsMed;
      text-transform: uppercase;
      cursor: pointer;
      white-space: nowrap;
    }

    .active-work-link {
      background-color: $header-color;
      color: white;
      border-bottom: 2px solid $header-color;
    }
  }

  .work-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    max-width: 75%;
    margin: 0 auto;
    z-index: 2;
    .work-col {
      max-width: 35%;
      padding: 0px;
      // border: 1px solid $hr-color;

      .project-container {
        // border: 15px solid $site-dark;
        width: 100%;
        
        .image-container {
          position: relative;
          width: 100%;
          max-height: 310px;
          margin: 0 auto;
          overflow: hidden;
          transition: all 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;

            .title-wrapper {
              opacity: 100%;

              .title,
              .subtitle,
              .work-btn-wrapper {
                display: block;
              }
            }
          }

          img {
            width: 100%;
          }
        }

        .title-wrapper {
          position: absolute;
          background-color: $neon;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          opacity: 0%;
          transition: 0.4s ease-in, 0.4s ease-out;

          .title {
            margin: 0 auto;
            text-align: center;
            font-family: PoppinsMed;
            font-size: 1.3em;
            color: $site-black;
            display: none;
            
          }

          .subtitle {
            font-family: PoppinsReg;
            text-align: center;
           
            letter-spacing: 0.5px;
            font-size: 1em;
           
            display: none;
            color: $site-pink;
          }

          .work-btn-wrapper {
            width: 35%;
            margin: 0 auto;
            display: none;
            padding: 20px 0px;
            .work-btn {
              @include site-button($btnBorderColor: $site-black);
              @include site-button-sweep-anim();
              width: 100%;
              z-index: 9999;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .work {
    .work-links-wrapper {
      min-width: 100%;
      flex-direction: column;
      height: auto;

      .work-link {
        min-width: 100%;
      }
    }

    .work-wrapper {
      flex-direction: column;

      .work-col {
        margin: 0 auto;
        min-width: 100%;

        .project-container {
          margin: 0px 0px 30px;

          .project-entry {
            .image-container {
              .image-wrapper {
                img {
                  max-width: 100%;
                  padding: 0px;
                }
              }
            }

            .title-wrapper {
              .title {
              }

              .subtitle {
              }
            }
          }
        }
      }
    }
  }
}
