.work {
 
  position: relative;
   
 
   


  .work-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0vh auto;
    width: 50%;



    .work-link {
      width: 100%;
      background-color: lighten($header-color, 35%);
      color: $secondary-dark;
      padding: 5px;
      text-align: center;
      font-size: 16px;
      font-family: PoppinsMed;
      text-transform: uppercase;
      cursor: pointer;
      white-space: nowrap;

    }

    .active-work-link {
      background-color: $header-color;
      color: $site-white;
    }
  }

  .work-wrapper {
    display: flex;
    justify-content: center;
    
    max-width: 100%;
    margin: 0 auto;
    background-color: $site-black;
    padding-top: 8vh;
  
    .work-col {
    
      .project-container {
        width: 100%;
        margin: 0 auto !important;

        .image-container {
          position: relative;
          width: 100%;
          max-height: 500px;
            
          margin: 0 auto;
          overflow: hidden;
          transition: all 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
       

          &:hover {
            cursor: pointer;

            .title-wrapper {
              opacity: 100%;

              .title,
              .subtitle,
              .work-btn-wrapper {
                display: block;
              }
            }
          }

          img {
            width: 100%;
         
              filter: grayscale(100%);
          }
        }

        .title-wrapper {
          position: absolute;
          background-color: $site-black;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          opacity: 0%;
          transition: 0.4s ease-in, 0.4s ease-out;

          .title {
            margin: 0 auto;
            text-align: center;
            font-family: PoppinsMed;
            font-size: 1.3em;
            color: $site-white;
            display: none;

          }

          .subtitle {
            font-family: PoppinsReg;
            text-align: center;

            letter-spacing: 0.5px;
            font-size: 1em;

            display: none;
            color: lighten($site-pink, 15%);
          }

          .work-btn-wrapper {
            width: 35%;
            margin: 0 auto;
            display: none;
            padding: 20px 0px;

            .work-btn {
              @include site-button($btnBorderColor: $site-pink);
              background-color: $site-pink;
              color: $site-white;
              width: 100%;
              z-index: 9999;
              border: 2px solid $site-pink;
              cursor: pointer;

              &:hover {
                background-color: transparent;
                color: lighten($site-pink, 5%);
                border-color: lighten($site-pink, 5%);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .work {
    .work-links-wrapper {
      min-width: 90%;
      flex-direction: column;
      height: auto;

      .work-link {
        min-width: 100%;
      }
    }

    .work-wrapper {
      flex-direction: column;

      .work-col {
        margin: 0 auto;
        min-width: 100%;

        .project-container {
          margin: 0px 0px 30px;


          .image-container {
            max-height: 320px;
            margin-top: 50px;

            align-items: end;

            &:hover {
              cursor: pointer;

              .title-wrapper {}
            }

            .image-wrapper {
              img {
                max-width: 100%;
                padding: 0px;
              }
            }


            .title-wrapper {



              .title {
                display: block;
              }

              .subtitle {
                display: block;

              }

              .work-btn-wrapper {
                display: block;

                .work-button {}
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #modal {}
}

@media screen and (max-width: 390px) {
  #modal {}
}